.header {
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    padding: 15px 15px;
    z-index: 10;
    background: #fff;
    width: 100%;

    .btn-panel {
        display: flex;
        height: 31px;
        padding: 0 13px;
        color: #3b3b3b;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        &:hover {
            text-decoration: underline;
        }
    }

    .username-panel {
        display: flex;
        height: 31px;
        align-items: center;
        justify-content: center;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 0.765625rem;
        font-weight: 700;
    }

    .left-side {
        display: flex;
    }

    .right-side {
        display: flex;
    }
}

@include media-breakpoint-down(md) {
    .header {
        flex-direction: column;

        .left-side, .right-side {
            justify-content: space-between;
        }

        .right-side {
            margin-top: 20px;
        }
    }
}
